{% extends "post/layout.html" %}
{% load humanize %}
{% load post_extras %}
{% load static %}

{% block title %}
Instagram
{% endblock %}

{% block content %}

<div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                {% for post in posts %}
                <article class="contents cont01">
                    <header class="top">

                        <a class="user-title" href="{% url "post:my_post_list" post.author.username %}">
                            <div class="user_container">
                                    <div class="profile_img">
                                        {% if post.author.profile.picture %}
                                        <img src="{{ post.author.profile.picture.url }}" alt="프로필사진">
                                        {% else %}
                                        <img src="{% static 'images/default/default.jpg' %}" alt="프로필사진">
                                        {% endif %}
                                    </div>

                                    <div class="user_name">
                                        <div class="nick_name">{{ post.author.profile.nickname }}</div>
                                        <div class="country">Seoul, South Korea</div>
                                    </div>


                            </div>
                        </a>
                        <div class="right_icons">
                            {% if post.author == user %}
                            <span>
                              <a class="post-edit" href="{% url "post:post_edit" post.pk %}">수정</a>
                              <form class="post-delete-form" action="{% url "post:post_delete" post.pk %}" method="post">
                                {% csrf_token %}
                                <input class="post-delete" type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
                              </form>
                            </span>
                            {% endif %}

                            <!-- 팔로우 버튼, 수정삭제버튼 클래스 기존 파일에서 가져오기 -->
                            <span>
                              {% if user.profile in post.author.profile.get_follower %}
                              {# {% if post.author.profile in user_profile.follow_set.all %}#}
                              <input class="follow following-btn" type="submit" value="팔로잉" name="{{ post.author.profile.id }}">
                              {% else %}
                              <input class="follow follow-btn" type="submit" value="팔로우" name="{{ post.author.profile.id }}">
                              {% endif %}
                            </span>
                        </div>

                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{{ post.photo.url }}" alt="{{ post.author }}'s photo"></div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>


                </article>
            {% endfor %}

            </div>

            <div class="side_box">
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="imgs/thumb.png" alt="">
                    </div>
                    <div class="detail">
                        <div class="id">kind_tigerrrr</div>
                        <div class="ko_id">심선범</div>
                    </div>
                </div>

                <article class="story_box">
                    <header class="story_header">
                        <div>스토리</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="scroll_inner">
                        <div class="thumb_user">
                            <div class="profile_thumb">

                                <img src="{% static 'images/default/default.jpg' %}" alt="프로필사진">

                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="timer">1시간 전</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="recommend">
                    <header class="recommend_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="thumb_user">
                        <div class="profile_thumb">
                            <img src="imgs/thumb02.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="id">kind_tigerrrr</div>
                            <div class="timer">1시간 전</div>
                        </div>
                    </div>

                </article>
            </div>


  {% endblock %}
