{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
  <meta property="og:url" content="http://kindtiger.dothome.co.kr/insta">
  <meta property="og:type" content="website">
  <meta property="og:title" content="instagram">
  <meta property="og:description" content="instagram clone">
  <meta property="og:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">
  .
  <!-- Twitter Meta Tags / 트위터 -->
  <meta name="twitter:card" content="instagram clone">
  <meta name="twitter:title" content="instagram">
  <meta name="twitter:description" content="instagram clone">
  <meta name="twitter:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

  <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
  <meta itemprop="name" content="instagram">
  <meta itemprop="description" content="instagram clone">
  <meta itemprop="image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">


  <title>{% block title %}Instagram{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/imgs/instagram.png' %}">



  <!-- 부트스트랩 원래 css -->
<!--  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >-->
<!--  <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/layout.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/post.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/mylist.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/search.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/account_form.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/post_upload.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/media.css' %}">-->



</head>
<body>

  <section id="container">

         <header id="header">

             <section class="h_inner">

                <h1 class="logo">
                    <a href="#">
                        <div class="sprite_insta_icon"></div>
                        <div>
                            <div class="sprite_write_logo"></div>
                        </div>
                    </a>
                </h1>


                <form class="search_field" action="{% url "post:post_list" %}" method="post">

                  {% csrf_token %}
                  <input type="text" name="tag" placeholder="검색" pattern="#?[\wㄱ-ㅎ|ㅏ-ㅣ|가-힣]+" title="특수문자, 공백 입력불가" required >
                  {# <input type="submit"> - input이 하나일 때는 별도의 submit 없이 엔터로 전송이 가능하다.#}

                 <div class="fake_field">
                    <span class=sprite_small_search_icon></span>
                    <span>검색</span>
                </div>

                </form>



                 <div class="right_icons">
                     <a class="new-post" href="{% url "post:post_new" %}">
                        <div class="sprite_camara_icon"></div>
                     </a>
                     <a class="follow-list" href="{% url "post:follow_post_list" %}">
                        <div class="sprite_compass_icon"></div>
                     </a>


                     {% if user.is_authenticated %}
                     <a class="account" href="{% url "post:my_post_list" user.username %}">
                        <div class="sprite_user_icon_outline"></div>
                     </a>
                     {% else %}
                     <a  class="account" href="{% url "account_login" %}">
                        <div class="sprite_user_icon_outline"></div>
                     </a>
                     {% endif %}


                 </div>




            </section>

         </header>
        {% block content %}
        {% endblock %}



  </section>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{% static 'js/event.js'%}"></script>

<!--  {% if messages %}-->
<!--  <script type="text/javascript">-->
<!--  {% for message in messages %}-->
<!--  alert("{{ message.message }}");-->
<!--  {% endfor %}-->
<!--  </script>-->
<!--  {% endif %}-->

<!--   jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다)-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--   모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요-->
<!--  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->
</body>
</html>
